<div>
    <h1>Settings</h1>
    <div>
        <p>Open video in external player <span><input id="toggleExternal" onClick="toggleSetting('openExternal')" type="checkbox"></span></p>
        <p>Super hax0r mode<span><input id="toggleDev" onClick="toggleSetting('devMode')" type="checkbox"></span></p>
        <button class="hov" onclick="openPath()">Open File Storage Folder</button>
        <br />
        <br />
        <p>Currently in <span id="mode"></span> mode.</p>
        <button class="hov" onclick="restartApp()">Restart</button>
    </div>
</div>