<div>
    <h1>Settings</h1>
    <div>
        <p>Open video in external player <span><input id="toggleExternal" onClick="toggleSetting('openExternal')" type="checkbox"></span></p>
        <p>Super hax0r mode<span><input id="toggleDev" onClick="toggleSetting('devMode')" type="checkbox"></span></p>
        <p>Video source: <select name="scrape" id="scrape"  onchange="changeScrape(value)">
            <option value="geno" selected>Allanime</option>
          </select></p>
        <button class="hov" style="margin-bottom:10px" onclick="clearRecents()">Clear video save positions</button>
        <br />
        <button class="hov" onclick="openPath()">Open File Storage Folder</button>
        <br />
        <br />
        <button class="hov" onclick="restartApp()">Restart Anishelf</button>
        <br />
        <br />
        <p>v0.1.4</p>
    </div>
</div>